body { /*background:papayaWhip*/background: pink;
    font-family: Arial, Avantgarde, sans-serif;}
    
div.side-by-side {
  display: flex;}

img {width: 59%; max-width: 500px;}

.featureBlock {background-color:orange; font-size: smaller;}