body { /*background:papayaWhip*/background: pink;
    font-family: Arial, Avantgarde, sans-serif;}
    
div.side-by-side {
  display: flex; width: 80%; float:right}

img {width: 59%; max-width: 500px;}

.featureBlock {background-color:orange; font-size: smaller;}

.image {float:right; width:40%; max-width:300px;border:dotted; border-color:white}

.button {color:white; font-family:roman, 'times new roman', times, serif;}

.box {border-style:dashed; border-color:blue; margin:5%}

div.threeD{}
div.threeD iframe{width:90%; max-width:1280px; max-height:840px;}

.text{float:bottom}

.footer{width: 90%}

.imgzoom{display: flex; flex-flow: row wrap; align-items: center; width: 75%; margin: 15px auto; padding: 1%; border-radius: 12px;}
    

.imgzoom img:hover {transform: scale(1.4);}



#rec:hover {fill:green}
#poly:hover {fill:black}
#rec2:hover {fill:brown}
#rec3:hover {fill:aqua}
#rec4:hover {fill:yellow}

:root {--green: #0f0; --blue: #00f; --pink: #ffc0cb; --purple: #800080; --teal: #5adbab; --transparent: #5adbab00; --white: #fff;}

#greenrect {fill: var(--green); transform-box: fill-box; transform-origin: center; transition: transform 1s ease;}

#greenrect:hover {transform: translate(0, -50px);}

#bluecircle {fill:var(--blue); transform-box: fill-box; transform-origin: center; transition: transform 2s ease;}
#bluecircle:hover {transform: translate(40px, 0);}

#tealrect {fill: var(--transparent); transform-box: fill-box; transform-origin: center; transition: transform 1s ease;}
#tealrect:hover {transform:translate(0,30px);}

#whitecircle {fill: var(--white); transform-box: fill-box; transform-origin: center; transition: transform 2s ease;}
#whitecircle:hover {transform:translate(-20px,0);}