body { /*background:papayaWhip*/background: pink;
    font-family: Arial, Avantgarde, sans-serif;}
    
div.side-by-side {
  display: flex;}

img {width: 59%; max-width: 500px;}

.featureBlock {background-color:orange; font-size: smaller;}

.image {float:right; width:40%; max-width:300px;border:dotted; border-color:white}

.button {color:white; font-family:roman, 'times new roman', times, serif;}

.box {border-style:dashed; border-color:red; margin:5%}

div.threeD{}
div.threeD iframe{width:90%; max-width:1280px; max-height:840px;}